.pagination {
  &__list {
    display: flex;
  }

  &__button {
    @include reset-button;
    @include flex-center;
    @include square(24px);

    @include hover {
      svg {
        fill: var(--color-accent);
      }
    }

    &.is-current {
      fill: var(--color-accent);
    }
  }
}
